---
:api_url: http://localhost:3000
:api_key: 5UUvyYLtVesWYBRwDUpaDxay
:mode:
  :active: record
  :record:
    :match_patterns: []
    :enabled: false
    :policy: all
    :service_url: ''
    :project_key: eyJhbGciOiJub25lIn0.eyJpZCI6MTYsIm9yZ2FuaXphdGlvbl9pZCI6Mn0.
    :scenario_key: ''
  :mock:
    :match_patterns: []
    :enabled: false
    :policy: all
    :project_key: eyJhbGciOiJub25lIn0.eyJpZCI6MTYsIm9yZ2FuaXphdGlvbl9pZCI6Mn0.
    :scenario_key: eyJhbGciOiJub25lIn0.eyJpZCI6MjcsInByb2plY3RfaWQiOjE2fQ.
    :service_url: http://localhost:3000
